/* Import Bootstrap */
@import "bootstrap.less";

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@black: #222;
@white: #FFF;

body {
  background: @white;
  font-size: 15px;
  position: relative;
}
.row {
  margin: 0;
}
.btn-link {
  text-align: center;
  margin: 40px auto;
}
h1,
h2 {
  text-align: center;
  font-family: 'BebasNeue';
}
h1 {
  font-size: 60px;
  margin: 40px auto;
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.3em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
a.btn.btn-default.btn-lg {
  border-radius: 0;
  background-color: @white;
  border-color: @white;
  color: @black;

  &:hover,
  &:focus {
    background-color: @black;
    color: @white;
  }
}
.page {
  padding: 60px 0;
}

.page-etusivu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-tahtikallio, .page-rmu, .page-ulvila1 {
  color: @white;
  margin: 0;
  padding: 0;
  border-top: 1px solid #fff; 

  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    padding: 20px 40px;
    margin: 0;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);

    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        color: #eee;
      }
    }
    a.btn.btn-default.btn-lg {
      text-decoration: none;
    }
    a.btn.btn-default.btn-lg:focus {
      background-color: #222;
    }
  }  
}

.page-rmu {
  background-image: url('../img/bg-rmu.jpg');
  background-position: 50% 50%;
}
.page-ulvila1 {
  background-image: url('../img/bg-ulvila1.jpg');
  background-position: 50% 70%;
}
.page-tahtikallio {
  background-image: url('../img/bg-tahtikallio.jpg');
  background-position: 50% 100%;
}
.page-footer {
  padding: 40px 0 30px;

  .col-sm-12 {
    text-align: center;

    p {
      margin: 10px auto;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* Media Queries */
@media (min-width:@screen-xs-min) {
}
@media (min-width:@screen-sm-min) {
}
@media (min-width:@screen-md-min) {
}
@media (min-width:@screen-lg-min) {
}